 @keyframes example {
    from {background-color: white;}
    to {background-color: rgb(236, 37, 37);}
} 
.id2{
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: forwards ;
} 

