.canvas{
    background-color: black;
    /* height:200px;
    width:200px; */
    margin-left:10px;
    border-left-color: white;
}
.Topdiv{
    display:flex;
    flex-direction: column;
}
.switch{
   margin-right: auto;
}